<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T S P</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>The Traveling Salesman Problem (TSP)</h1>
        <h3>
            Determine the shortest path to visit customers
        </h3>
        <button id="runBtn">Run Simulation</button>
        <p id="output"></p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>